<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us Page</title>
    <link rel="stylesheet" href="/css/styles.css">

    <script src="https://kit.fontawesome.com/953cd41e6c.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fm.facebook.com%2FZESCOCORP%2Fphotos%2Fa.300113706752865%2F1583171975113692%2F%3Ftype%3D3%26p%3D30&psig=AOvVaw0jpEmIVznI8laLtioZ-zpB&ust=1625953304787000&source=images&cd=vfe&ved=0CAoQjRxqFwoTCKiYp5z61vECFQAAAAAdAAAAABAD"></a>
                <div class="logo_name">Menu</div>
            </div>
            <i class="fad fa-bars"></i>
        </div>
    </div>


</body>

</html>