<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About Us Page</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" /> lin
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://kit.fontawesome.com/953cd41e6c.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <h2>Slide Bar</h2>
            <ul>
                <li>
                    <a href="#"><i class="fas fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-exclamation-triangle"></i> Issues</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-tools"></i> Equipment</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-address-card"></i> About</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </li>
            </ul>
        </div>
        <div class="main_content">
            <div class="header">Welcome User</div>
            <div class="info">
                <div>
                    lorem lorem ipsum
                </div>
            </div>
        </div>
    </div>


</body>

</html>